@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');

$font-main: tahoma, sans-serif;
$font-heading: 'Source Code Pro', monospace;

$col-orange_bronze: rgba(214,90,49,.83);
$col-white: rgba(255,255,255, .83);
$col-darkGrey: rgb(34,40,49);
$col-lightGrey: rgb(57 ,62,70);

$col-backgroundOuter: $col-darkGrey;
$col-content: $col-lightGrey;

//*Navigation colors
$col-text: $col-white;
$col-links: $col-orange_bronze;
$col-headings: $col-orange_bronze;





