@import "variables";

html {
    font-size: 10px;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
    background-color: $col-backgroundOuter;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* #region  Text */
p {
    color: $col-text;
    font-size: 2rem;
    line-height: 1.5;
}

h1 {
    color: $col-headings;
    font-size: 5rem;
    font-family: $font-heading;
}

h2 {
    color: $col-headings;
    font-size: 4.5rem;
    font-family: $font-heading;
}

#welcomeArticle {
    a {
        color: $col-text;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

}

#breakLine {
    display: block;
    margin-top: 25px;
}


/* #endregion */

img {
    display: block;
    width: 100%;
    height: auto;
}

figure {
    position: relative;

    figcaption {
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: $col-backgroundOuter;
        color: $col-text;
        padding: 5px 10px;
        font-size: 1.6rem;
        font-style: italic;
        font-weight: 600;
        z-index: 1;
        width: 100%;
    }
}

//*Rest of the button styles are set further down below.
button {
    font-size: 16px;
    font-family: inherit;
}



#mainContent {
    background-color: $col-content;
    width: 1280px;
    margin: 25px auto 0;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    overflow: hidden;

}

/* #region  Navigation */
#mainHeader {
    background-color: $col-content2;
    width: 1280px;
    position: sticky;
    top: 0;
    min-height: 50px;
    margin: 0 auto;
    z-index: 999;

    display: flex;
    justify-content: space-between;

    #navbar {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        #icon {
            background-color: transparent;
            outline: none;
            border: none;
            text-decoration: none;
            font-size: 3.6rem;
            color: $col-navLinks;
            padding: 15px 16px;
            cursor: pointer;
            height: 75px;

            &:hover {
                color: $col-text;
            }
        }
    }

    #mainHeader__image {
        width: 125px;
        height: 125px;
        border-radius: 50%;
        margin-left: 25px;
    }
}

#navList {
    list-style-type: none;
    width: 70%;
    display: flex;
    justify-content: center;

    .navLinks {
        text-decoration: none;
        font-size: 2.5rem;
        color: $col-navLinks;
        display: inline-block;
        padding: 10px 20px;

        &:hover {
            color: $col-text;
        }
    }
}

/* #endregion */

/* #region Top Container */
#topContainer {
    width: 100%;
    height: 100vh;

    grid-column: 1/13;
    grid-row: 1;

    #welcomeArticle {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: auto;
        column-gap: 15px;

        h1 {
            padding: 0 10px;
            grid-row: 1;
            grid-column: 1/13;
        }

        p {

            padding: 0 10px;
            grid-row: 2;
            grid-column: 1/8;
        }

        #welcomeImgFigure {
            opacity: 0;
            grid-row: 2;
            grid-column: 8/13;
            margin-right: 12px;
        }
    }
}

/*#endregion*/

/* #region  Middle container */
#middleContainer {

    position: relative;
    z-index: 990;
    background-color: $col-content2;

    width: 100%;
    // height: 100vh;
    grid-column: 1/13;
    grid-row: 2;

    display: flex;
    justify-content: space-between;
    column-gap: 200px;

    #tigerImgFigure {
        margin-top: 30px;
        opacity: 1;

        width: 45%;
        height: fit-content;

        //*Make sure the image is out of view
        position: relative;
        left: -580px;
    }

    #factsSection {
        margin-top: 25px;
        width: 43%;
        padding-right: 10px;

        #factsList {
            color: $col-text;
            font-size: 2rem;

            li {
                line-height: 1.5;

                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

/* #endregion */

/* #region  Bottom container */

#bottomContainer {
    grid-column: 1/13;
    grid-row: 3;
    background-color: $col-content;
    height: 85vh;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    column-gap: 25px;

    position: relative;
    z-index: 990;


    #btnPressMe {

        grid-column: 6/8;
        grid-row: 1;
        align-self: center;
        margin-top: 100px;

        width: 100%;
        height: 100px;

        background-color: rgb(214, 90, 47);
        position: relative;
        cursor: pointer;
        outline: none;
        border: 0;
        text-decoration: none;
        display: inline-block;
        animation: glow 1300ms infinite;
        font-weight: 600;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        padding: 1.25em 2em;
        border: 2px solid black;
        border-radius: 0.75em;
        transform-style: preserve-3d; //The child (in this case ::before, should have 3d effect preserved.
        transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);

        // The 'lower' part of the button. The part that makes the 3d-ish effect.
        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            opacity: 1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgb(214, 90, 47);
            border-radius: inherit;
            box-shadow: 0 0 0 2px black, 0 0.625em 0 0 rgba(214, 89, 47, 0.437);
            transform: translate3d(0, 0.75em, -1em);
            transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
        }

        &:hover {
            transform: translate(0, 0.25em);
            animation-play-state: paused;

            &::before {
                box-shadow: 0 0 0 2px black, 0 0.5em 0 0 rgba(214, 90, 47, .437);
                transform: translate3d(0, 0.5em, -1em);
            }
        }

        &:active {
            background: rgba(214, 90, 47, .83);
            transform: translate(0em, 0.75em);

            &::before {
                box-shadow: 0 0 0 2px black, 0 0 rgba(214, 90, 47, .83);
                transform: translate3d(0, 0, -1em);
            }
        }
    }

    #portugalImgFigure {
        grid-column: 8/12;
        grid-row: 1;
        margin-top: 125px;
        position: relative;
        opacity: 0;
        left: 570px;

        //*This might need to change to make it responsive
        width: 320px;
        height: 71%;
    }

    #articleFuturePlans {
        grid-column: 2/7;
        grid-row: 1/3;
        position: relative;
        opacity: 0;
        left: -570px;
        margin-top: 100px;

        #futurePlans {
            padding: 10px;
        }

        h2 {
            padding-left: 10px;
        }
    }
}


@keyframes glow {
    0% {
        background-color: darkorange;
        box-shadow: 0 0 8px darkorange;
    }

    50% {
        background-color: rgb(240, 169, 37);
        box-shadow: 0 0 40px rgb(255, 165, 0);
    }

    100% {
        background-color: darkorange;
        box-shadow: 0 0 8px darkorange;
    }

}

/* #endregion */



/* #region  Footer */
#mainFooter {
    background-color: $col-content2;
    width: 1280px;
    height: 0;
    margin: 25px auto 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    //*Selects every child of #mainFooter
    & > * {
        opacity: 0;

    }

    #crText {
        margin-top: 135px;
    }

    .fa-facebook-square,
    .fa-twitter-square,
    .fa-linkedin {
        color: $col-text;
        font-size: 4.5rem;
    }

    .fa-phone, .fa-envelope, .fa-location-dot{
        color: $col-text;
        font-size: 2.2rem;
    }

    #soMEIcons {
        margin-right: 20px;
        margin-top: -45px;
        text-align: center;
    }
    
    #infoText{
        margin-left: 20px;
        text-align: center;


        p{
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;

             i{
                margin-right: 8px;
             }
        }

        p:nth-child(3){
            i{
                align-self: center;
            }
        }
    }

    #infoText :nth-child(2):nth-child(1){
        align-self: center;
    }
    
    #soMEIcons a {
        display: inline-block;
    }
    
    #soMEIcons a:not(:last-child){
        margin-right: 15px;
    }
    
    #infoText p, #soMEIcons p{
        text-align: center;
    }
    
    #soMEIcons p{
        margin-bottom: 15px;
    }

    h2{
        text-transform: uppercase;
        font-size: 3rem;
    }

}

/* #endregion */

/* #region  Display none */
#icon {
    display: none;
}

/* #endregion */


/* #region  Tablet */
@media only screen and (max-width: 768px) {
    html {
        font-size: 8px;
    }

    /* #region  Navigation */
    #mainHeader {
        width: 100%;

        #navbar {
            justify-content: flex-end;
            align-items: center;
        }
    }



    #navList {
        flex-direction: column;

        &.responsive {
            position: absolute;
            top: 125px;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: $col-content;
            align-items: center;
            justify-content: flex-start;

        }

        a {
            display: inline-block;
        }

    }

    /* #endregion */

    /* #region  Display none */
    #navList {
        li {
            display: none;
        }
    }


    /* #endregion */
}

/* #endregion */