@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap");
html {
  font-size: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Tahoma, sans-serif;
  background-color: rgba(92, 85, 83, 0.83);
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* #region  Text */
p {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  line-height: 1.5;
}

h1 {
  color: rgba(214, 90, 49, 0.83);
  font-size: 5rem;
  font-family: "Source Code Pro", monospace;
}

h2 {
  color: rgba(214, 90, 49, 0.83);
  font-size: 4.5rem;
  font-family: "Source Code Pro", monospace;
}

#welcomeArticle a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
#welcomeArticle a:hover {
  text-decoration: underline;
}

#breakLine {
  display: block;
  margin-top: 25px;
}

/* #endregion */
img {
  display: block;
  width: 100%;
  height: auto;
}

figure {
  position: relative;
}
figure figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(92, 85, 83, 0.83);
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 600;
  z-index: 1;
  width: 100%;
}

button {
  font-size: 16px;
  font-family: inherit;
}

#mainContent {
  background-color: rgb(57, 62, 70);
  width: 1280px;
  margin: 25px auto 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  overflow: hidden;
}

/* #region Top Container */
#topContainer {
  width: 100%;
  height: 100vh;
  grid-column: 1/13;
  grid-row: 1;
}
#topContainer #welcomeArticle {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
#topContainer #welcomeArticle h1 {
  padding: 0 10px;
  grid-row: 1;
  grid-column: 1/13;
}
#topContainer #welcomeArticle p {
  padding: 0 10px;
  grid-row: 2;
  grid-column: 1/8;
}
#topContainer #welcomeArticle #welcomeImgFigure {
  opacity: 0;
  grid-row: 2;
  grid-column: 8/13;
  margin-right: 12px;
}

/*#endregion*/
/* #region  Middle container */
#middleContainer {
  position: relative;
  z-index: 990;
  background-color: rgb(34, 40, 49);
  width: 100%;
  grid-column: 1/13;
  grid-row: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 200px;
     -moz-column-gap: 200px;
          column-gap: 200px;
}
#middleContainer #tigerImgFigure {
  margin-top: 30px;
  opacity: 1;
  width: 45%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  left: -580px;
}
#middleContainer #factsSection {
  margin-top: 25px;
  width: 43%;
  padding-right: 10px;
}
#middleContainer #factsSection #factsList {
  color: rgb(255, 255, 255);
  font-size: 2rem;
}
#middleContainer #factsSection #factsList li {
  line-height: 1.5;
}
#middleContainer #factsSection #factsList li:not(:last-child) {
  margin-bottom: 10px;
}

/* #endregion */
/* #region  Bottom container */
#bottomContainer {
  grid-column: 1/13;
  grid-row: 3;
  background-color: rgb(57, 62, 70);
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  position: relative;
  z-index: 990;
}
#bottomContainer #btnPressMe {
  grid-column: 6/8;
  grid-row: 1;
  align-self: center;
  margin-top: 50px;
  width: 100%;
  height: 100px;
  background-color: rgb(214, 90, 47);
  position: relative;
  cursor: pointer;
  outline: none;
  border: 0;
  text-decoration: none;
  display: inline-block;
  -webkit-animation: glow 1300ms infinite;
          animation: glow 1300ms infinite;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  padding: 1.25em 2em;
  border: 2px solid black;
  border-radius: 0.75em;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}
#bottomContainer #btnPressMe::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(214, 90, 47);
  border-radius: inherit;
  -webkit-box-shadow: 0 0 0 2px black, 0 0.625em 0 0 rgba(214, 89, 47, 0.437);
          box-shadow: 0 0 0 2px black, 0 0.625em 0 0 rgba(214, 89, 47, 0.437);
  -webkit-transform: translate3d(0, 0.75em, -1em);
          transform: translate3d(0, 0.75em, -1em);
  -webkit-transition: -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
#bottomContainer #btnPressMe:hover {
  -webkit-transform: translate(0, 0.25em);
          transform: translate(0, 0.25em);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
#bottomContainer #btnPressMe:hover::before {
  -webkit-box-shadow: 0 0 0 2px black, 0 0.5em 0 0 rgba(214, 90, 47, 0.437);
          box-shadow: 0 0 0 2px black, 0 0.5em 0 0 rgba(214, 90, 47, 0.437);
  -webkit-transform: translate3d(0, 0.5em, -1em);
          transform: translate3d(0, 0.5em, -1em);
}
#bottomContainer #btnPressMe:active {
  background: rgba(214, 90, 47, 0.83);
  -webkit-transform: translate(0em, 0.75em);
          transform: translate(0em, 0.75em);
}
#bottomContainer #btnPressMe:active::before {
  -webkit-box-shadow: 0 0 0 2px black, 0 0 rgba(214, 90, 47, 0.83);
          box-shadow: 0 0 0 2px black, 0 0 rgba(214, 90, 47, 0.83);
  -webkit-transform: translate3d(0, 0, -1em);
          transform: translate3d(0, 0, -1em);
}
#bottomContainer #portugalImgFigure {
  grid-column: 8/12;
  grid-row: 1;
  margin-top: 75px;
  position: relative;
  opacity: 0;
  left: 570px;
  width: 320px;
  height: 66%;
}
#bottomContainer #articleFuturePlans {
  grid-column: 2/7;
  grid-row: 1/3;
  position: relative;
  opacity: 0;
  left: -570px;
  margin-top: 50px;
}
#bottomContainer #articleFuturePlans #futurePlans {
  padding: 10px;
}
#bottomContainer #articleFuturePlans h2 {
  padding-left: 10px;
}

@-webkit-keyframes glow {
  0% {
    background-color: darkorange;
    -webkit-box-shadow: 0 0 8px darkorange;
            box-shadow: 0 0 8px darkorange;
  }
  50% {
    background-color: rgb(240, 169, 37);
    -webkit-box-shadow: 0 0 40px rgb(255, 165, 0);
            box-shadow: 0 0 40px rgb(255, 165, 0);
  }
  100% {
    background-color: darkorange;
    -webkit-box-shadow: 0 0 8px darkorange;
            box-shadow: 0 0 8px darkorange;
  }
}

@keyframes glow {
  0% {
    background-color: darkorange;
    -webkit-box-shadow: 0 0 8px darkorange;
            box-shadow: 0 0 8px darkorange;
  }
  50% {
    background-color: rgb(240, 169, 37);
    -webkit-box-shadow: 0 0 40px rgb(255, 165, 0);
            box-shadow: 0 0 40px rgb(255, 165, 0);
  }
  100% {
    background-color: darkorange;
    -webkit-box-shadow: 0 0 8px darkorange;
            box-shadow: 0 0 8px darkorange;
  }
}
/* #endregion */
/* #region  Navigation */
#mainHeader {
  background-color: rgb(34, 40, 49);
  width: 1280px;
  min-height: 50px;
  margin: 0 auto;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#mainHeader #navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#mainHeader #navbar #icon {
  background-color: transparent;
  outline: none;
  border: none;
  text-decoration: none;
  font-size: 3.6rem;
  color: rgba(214, 90, 49, 0.83);
  padding: 15px 16px;
  cursor: pointer;
  height: 75px;
}
#mainHeader #navbar #icon:hover {
  color: rgb(255, 255, 255);
}
#mainHeader #mainHeader__image {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin-left: 25px;
}

#navList {
  list-style-type: none;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#navList .navLinks {
  text-decoration: none;
  font-size: 2.5rem;
  color: rgba(214, 90, 49, 0.83);
  display: inline-block;
  padding: 10px 20px;
}
#navList .navLinks:hover {
  color: rgb(255, 255, 255);
}

/* #endregion */
/* #region  Footer */
#mainFooter {
  background-color: rgb(34, 40, 49);
  width: 1280px;
  height: 200px;
  margin: 25px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#mainFooter #crText {
  margin-top: 135px;
}
#mainFooter .fa-facebook-square,
#mainFooter .fa-twitter-square,
#mainFooter .fa-linkedin {
  color: rgb(255, 255, 255);
  font-size: 4.5rem;
}
#mainFooter .fa-phone, #mainFooter .fa-envelope, #mainFooter .fa-location-dot {
  color: rgb(255, 255, 255);
  font-size: 2.2rem;
}
#mainFooter #soMEIcons {
  margin-right: 20px;
  margin-top: -45px;
  text-align: center;
}
#mainFooter #infoText {
  margin-left: 20px;
  text-align: center;
}
#mainFooter #infoText p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#mainFooter #infoText p i {
  margin-right: 8px;
}
#mainFooter #infoText p:nth-child(3) i {
  -ms-flex-item-align: center;
      align-self: center;
}
#mainFooter #infoText :nth-child(2):nth-child(1) {
  -ms-flex-item-align: center;
      align-self: center;
}
#mainFooter #soMEIcons a {
  display: inline-block;
}
#mainFooter #soMEIcons a:not(:last-child) {
  margin-right: 15px;
}
#mainFooter #infoText p, #mainFooter #soMEIcons p {
  text-align: center;
}
#mainFooter #soMEIcons p {
  margin-bottom: 15px;
}
#mainFooter h2 {
  text-transform: uppercase;
  font-size: 3rem;
}

/* #endregion */
/* #region  Display none */
#icon {
  display: none;
}

/* #endregion */
/* #region  Tablet */
@media only screen and (max-width: 768px) {
  html {
    font-size: 8px;
  }
  /* #region  Navigation */
  #mainHeader {
    width: 100%;
  }
  #mainHeader #navbar {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #navList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #navList.responsive {
    position: absolute;
    top: 125px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(57, 62, 70);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #navList a {
    display: inline-block;
  }
  /* #endregion */
  /* #region  Display none */
  #navList li {
    display: none;
  }
  /* #endregion */
}
/* #endregion *//*# sourceMappingURL=main.css.map */